* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Texturina','Roboto', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("images/noisy-texture.png"), url("images/wheat.png");
    background-attachment: fixed;
  }  
  input {
    padding: 0 4px 4px 4px;
    margin:  0 4px 4px 4px;
    
    border: solid rgb(151, 135, 110) 1px;
    border-radius: 6px;
  }
  label {
    padding-left: 30px;
  }
  textarea, input, select {
    background-color: rgba(255, 235, 205, 0);

  }
  select {
    margin: 4px;
    border-radius: 6px;
    
  }
  button {
    background-color: rgba(255, 235, 205, 0);
    color: black;
    border: none;
    border-radius: 4px;
    margin: 2px;
    /* box-shadow: 1px 1px 4px #00000083; */
  }
  button:hover {
    cursor: pointer;
    color: rgb(109, 28, 28);
  }
/* HEADER */
  header {
      overflow: hidden;
      position: fixed;
      z-index: 1;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      box-shadow: 5px 12px 20px #000000;
      background-color: rgb(255, 246, 234);
      background-image: url("images/noisy-texture.png"), linear-gradient(190deg, blanchedalmond, rgb(255, 255, 255));
  }
  .banner-a, .banner-b {
      display: flex;
      margin: 0;
      padding: 8px;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
  }
    h1 {
      margin: 0;
      font-size: 32px;
      color: rgb(70, 12, 12);
      text-shadow: 2px 1px 5px #4d4d4d;
    }
    .plus {
      height: 45px;
      width: 100px;
      color: rgb(70, 12, 12);
      box-shadow: 2px 1px 5px #4d4d4d;
    }
    .fas {
      justify-content: center;
   }
    p {
      font-weight: 400;
      font-size: 18px;
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: right;
    }

/* BODY */
  main {
    margin-top: 230px;
  }
  .bookmark-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  .bookmark, .error {
    width: auto;
    background-image: url("images/noisy-texture.png"), linear-gradient(110deg, blanchedalmond, rgb(255, 255, 255));
    border: none;
    border-radius: 4px;
    box-shadow: 5px 10px 8px #000000;
    padding: 8px;
    margin: 8px;
    list-style-type: none;    
  }
  .error {
    background-image: url("images/noisy-texture.png"), linear-gradient(110deg, rgb(149, 93, 93),  rgb(229, 175, 175));
  }
  .new-bookmark-form {
    width: auto;
    background-image: url("images/noisy-texture.png"), linear-gradient(110deg, blanchedalmond, rgba(255, 255, 255, 0.554));
    border: none;
    border-radius: 4px;
    box-shadow: 5px 10px 8px #000000;
    padding: 8px;
    margin: 8px;
    list-style-type: none;    
  }
  .save-bookmark {
    height: 45px;
    background-image: url("images/noisy-texture.png"), linear-gradient(110deg, rgba(137, 255, 82, 0.712), rgb(255, 255, 255));
    border: solid rgba(168, 255, 168, 0.623) 2px;
    font-size: large;
    
  }
  .condensed {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .actualTitle {
    font-size: 24px;
  }
  .titling {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    width: 100%;
  }
  .delete-bookmark-btn, .expand-bookmark-toggle, #cancel-error {
    height: 38px;
    width: 100px;
  }
  .expand-bookmark-toggle {
    background-image: url("images/noisy-texture.png"), linear-gradient(110deg, rgba(137, 255, 82, 0.712), rgb(255, 255, 255));
    border: solid black 2px;
    font-size: large;
    align-self: center;
  }
  .delete-bookmark-btn, #cancel-error {
    background-color: rgb(216, 145, 145);
    background-image: url("images/noisy-texture.png");
  }
  h2, h2 input {
    margin: 0;
    background-color: none;
    background-color: rgba(255, 235, 205, 0);
    font-size: 22px;
  }
  h2 {
    margin-left: 8px;
  }
   .stars {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .stars li button {
    border: none;
    background-color: rgba(255, 235, 205, 0);
  }
 
  .expanded input {
    width: 92%;
  }
  .expanded textarea {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  @media all and (min-width: 600px) {
    .bookmark-list {
      display: grid;
    }
  }